.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 10% auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}